*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
   background-color: #06577C;
}

main{
    max-width: 1240px;
    margin: auto;
    font-family: 'Varela Round', sans-serif;
    font-weight: bold;
    padding: 5px;
}

header{
    color: #CEE7C9;
    /* color: #7988B6; */
    text-align: center;
    padding: 10px;
}

section{
    background-color: #fff;
    border-radius: 10px;
    padding: 15px;
    max-width: 500px;
    margin: auto;
    box-shadow: 3px 3px 10px #000;
}

#seletor{
    width: 150px;
}

footer{
    color: #cee7c9ce;
    text-align: center;
    font-style: italic;
    padding: 10px;
}


